USE [master]
GO
/****** Object:  Database [AgDeViagens4]    Script Date: 17/12/2021 21:05:24 ******/
CREATE DATABASE [AgDeViagens4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgDeViagens4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\AgDeViagens4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgDeViagens4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\AgDeViagens4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgDeViagens4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgDeViagens4]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/12/2021 21:05:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinos]    Script Date: 17/12/2021 21:05:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Local] [nvarchar](max) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[Valor] [float] NOT NULL,
 CONSTRAINT [PK_Destinos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocoes]    Script Date: 17/12/2021 21:05:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomePromocao] [nvarchar](max) NOT NULL,
	[ValorDesconto] [float] NOT NULL,
	[DestinoId] [int] NOT NULL,
 CONSTRAINT [PK_Promocoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Promocoes_DestinoId]    Script Date: 17/12/2021 21:05:24 ******/
CREATE NONCLUSTERED INDEX [IX_Promocoes_DestinoId] ON [dbo].[Promocoes]
(
	[DestinoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Promocoes]  WITH CHECK ADD  CONSTRAINT [FK_Promocoes_Destinos_DestinoId] FOREIGN KEY([DestinoId])
REFERENCES [dbo].[Destinos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promocoes] CHECK CONSTRAINT [FK_Promocoes_Destinos_DestinoId]
GO
USE [master]
GO
