@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)</h1>
    <h3>A melhor agência do Mundo ao seu alcance!</h3>
    <img src="../imagens/rosa.png" class="img-fluid" alt="A imagem de uma rosa">
</div>
